# package managers
node_modules/
.pnpm-store/
*.tgz
npm-debug.log
.tmp/
sh.exe.stackdump
debug.log

# build
dist/
apps/*/dist/
packages/*/dist/
.turbo/

# testing
coverage/
test-results/

# typescript
*.tsbuildinfo

# miscellaneous
.DS_Store
temp/

# env
.env
